.filters {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background: var(--comics-black);
    width: 100%;
    grid-row: 1;
    height: 60px;
    color: var(--comics-white);
}
.filters span {
    font-size: var(--text-sm);
}
.filters select {
    width: 245px;
    height: 32px;
    background: unset;
    border-radius: 2px;
}

@media (min-width: 64em) {
    .filters {
        flex-direction: row;
        align-items: center;
    }
    .filters select {
        width: 245px;
        height: 32px;
    }
}
